body {
  background-image: url("../Assets/docbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}
.sidenav {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 250px;
  height: 100%;
  background-color: #28282a;
  color: white;
  font-size: 25px;
  padding-left: -2px;
}
#ul-pad {
  padding-top: 0px;
}
li {
  padding-top: 26px;
}
#li-in {
  color: rgb(255, 153, 37);
}
#arrow-size {
  font-size: 15px;
}
:root {
  --mainColor: #47b1f8;
}

a {
  background: linear-gradient(
    to bottom,
    var(--mainColor) 0%,
    var(--mainColor) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: background-size 0.5s;
}

a:hover {
  background-size: 4px 50px;
  color: #28282a;
}
