#Position {
  position: absolute;
  top: 47%;
  left: 41%;
}
.Card {
  position: absolute;
  top: 35%;
  left: 34%;
  width: 400px;
  height: 250px;
  background-color: #b7f5fd8c;
}
#call-logos {
  font-size: 45px;
}

#chipa {
  border-radius: 25%;
}
