<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>AI PULSE GRAPH</title>
</head>
<body>
    <center>
        <div class="rate2">
            <div class="pulse">
                <img src="../my_plot.png" alt="Please wait till your heart rate is calculated" style="width:100%; height:100%">
                <p>This is a graph stating your pulse rate fetched from the AI Pulse Module</p> 
        </div>
    </center>
           
   
    </body>
</html>