.rate2 {
  margin: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: white;
  width: 600px;
  height: 450px;
  padding: 10px;
  text-align: center;
}

body {
  background-image: url("../../Assets/docbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  color: white;
} 