<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="index.css"> -->
    <title>AI Pulse Rate Detector</title>
</head>

<body>
    <form action="/my-link/">
        <center>
        <h1> This is your pulse rate: {Pulse_rate:} bpm!</h1>
        <button type="button" id="track" name="track"><a href="/my-link/">Track Your Heart Rate</a></button>
    </center>
        
    </form>
    <form action="/video_feed/">
        <img src="/video_feed/" width=50% style="border-style: solid;position: absolute;left:25%;top:15%;">

    </form>
</body>

</html>